<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/Pelikan-color.png">
    <link rel="stylesheet" href="/styles/animations.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/monitor.css">
    <link rel="stylesheet" href="/styles/responsive.css">
    <script src="/app.js"></script>
    <meta name="apple-mobile-web-app-status-bar-style" content="#3AB556">
    <meta name="apple-mobile-web-app-status-bar"  content="#3AB556">
    <title>Monitor</title>
</head>
<body id="page-monitor" class="view">
    <header>
        <div class="head-bar">
            <button class="bt-return"><img src="/img/arrow-left.svg" alt=""></button>
            <div class="triangle-box">
                <img id="logo" src="/img/logo.png" alt="logo">
                <div class="triangle">
                </div>
            </div>
            <button class="bt-options"><img src="/img/menu.svg" alt="icon menu"></button>
        </div>
    </header>
    <main id="page-monitor-views">
        <header class="monitor-box">
            <div id="statistics">
                <span><b>Resultados:</b> {{allResult.length}}</span>
                <span><b>Categorias:</b> {{categorys.length}}</span>
            </div>
            <div class="filter-options" alt="filto">
                <label for="filter"><b>Filtrar por:</b></label>
                {% if search == "language_id" %}
                    <select name="filter" id="filter" alt="Filtro"  onchange="filtered()">
                    <!-- <optgroup label="Filtos"></optgroup> -->
                        <option value="language_id" selected>Linguagens</option>
                        <option value="module_id">Módulos</option>
                    </select>
                {% else %}
                    <select name="filter" id="filter" alt="Filtro"  onchange="filtered()">
                    <!-- <optgroup label="Filtos"></optgroup> -->
                        <option value="language_id" >Linguagens</option>
                        <option value="module_id" selected>Módulos</option>
                    </select>

                {% endif %}
                
                
            </div>
    
        </header>
        <details class="list-translations" open>
            <div class="ajuste"></div>
            <summary class="title-list" alt="Lista de traduções">
                <h2>Traduções:</h2>
            </summary>
            
            {% for t in translations %}
            <div class="translation">
                <div class="title-translation" >
                    <h3>{{t.resource.resource_id}}</h3><span class="update">{{Tm(t.resource.updated_at)}}</span>
                </div>
                <span class="t-value">{{t.resource.value}}</span>
                <div class="card-lang">{{t.resource.language_id}}</div>
            </div>
            {% endfor %}
            
        </details>
        <div class="position">
                <div class='opaca'>.</div>
                <div id="elements">
                    <span><b>{{parseInt(index/div)+1}}</b> de <b>{{parseInt(allResult.length/div)}}</b></span>
                    <button class="bt-back" value=0><</button>
                    <button class="bt-next" value=0 >></button>
                </div>
                <button class="bt-category-next opaca"></button>
        </div>

    </main>
        <div class="bg">
            <div class="loader"></div>
            Loading Data...
        </div>



        <script>
            function doFind(name,objs,idName=null){ //retorna bool ou index
                let found = []
                let index =0

                if(idName!==null){
                    found = objs.find(obj => {
                        index++
                        return obj.resource[idName] === name
                        })
                    return index
                }else{
                    found = objs.find(obj => {
                    return obj === name
                    })
                    return found
                }
            }
        </script>

        <script>
            function filtered(){
             var x = document.getElementById("filter")
             window.location = "/monitor/filter="+x.value+"/0"
            }
            setTimeout(()=>{
                let x = document.querySelector(".bg")
                x.classList.add("hide")
            }, 500)

            // let nextCategory = document.querySelector(".bt-category-next")
            //nextCategory.addEventListener("click",()=>{
            //    console.log("cliked")
            //    let x = document.getElementById("filter").value
            //    let url = window.location.href.split("/")
            //    let i = url.pop()
            //    let j = {{doFind(allResult[i].resource[x], categorys,  x)}}
            //    console.log(j)
            //    {# if(j-1 < {{categorys.length}}) #}
            //        window.location = url.join()+"/"+ doFind({{categorys[j].resource[x]}},{{allResult}},{{category[j]}})
            //  })

        </script>
        
        <script type="module" src="/scripts/monitor.js"></script>
</body>
</html> 