<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/Pelikan-color.png">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/search.css">

    <link rel="stylesheet" href="/styles/responsive.css">
    <title>Pesquisar</title>

    
</head>
<body id="page-search" class="view">
    <header>
        <div class="head-bar">
            <button class="bt-return"><img src="/img/arrow-left.svg" alt=""></button>
            <div class="triangle-box">
                <img id="logo" src="/img/logo.png" alt="logo">
                <div class="triangle">
                </div>
            </div>
            <button class="bt-options"><img src="/img/menu.svg" alt="icon menu"></button>
        </div>
    </header>
    <main class="search-views">

        <div class="monitor-box">
            <label for="">Pesquisar conteúdo:</label>
            <input type="text">
        </div>
        <details class="list-translations" open>
            <div class="ajuste"></div>
            <summary class="title-list">
                <h2>Traduções Encontradas:</h2><span class="qtd">{{allResult.length}}</span>
            </summary>
            
            {% for t in translations %}
            <div class="translation">
                <div class="title-translation" >
                    <h3>{{t.resource.resource_id}}</h3><span class="update">{{Tm(t.resource.updated_at)}}</span>
                </div>
                <span class="t-value">{{t.resource.value}}</span>
            </div>
            {% endfor %}
            <div class="position">
                <div id="elements">
                    <span><b>{{parseInt(index/div)+1}}</b> de <b>{{parseInt(allResult.length/div)}}</b></span>
                    <button class="bt-back" value=0><</button>
                    <button class="bt-next" value=0 >></button>
                </div>
                
            </div>
        </details>

        <script>
            
            let input = document.querySelector("input")
            input.addEventListener("keyup",(event)=>{
                if(event.key === "Enter"){
                    window.location = "/search="+event.target.value+"/0"
                }
            })
            document.querySelector(".bt-back").addEventListener("click",()=>{
                window.location = "/search=/"+{{index}}
            })

            document.querySelector(".bt-next")addEventListener("click",()=>{
                window.location = "/search/"
            })

           
        </script>
        <script type="module" src="/scripts/search.js"></script>
    </main>
</body>
</html> 