#page-monitor main{
    margin-top: 4vh;
}

#page-monitor-views{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-translations .ajuste{
    margin-bottom:10vh ;
}

.list-translations .title-list h2{
    font-size: 1.2em;
}